/*This means the three styles are applied to the entire page's elements*/
* {
    box-sizing: border-box; /*this will allow our content and benefits section to be sized to fit together*/
    padding: 0; 
    margin: 0;
}
/*Applies to the elements visible in the body*/
body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px; /*all four sides*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*this means the user's computer will display one of these fonts, depending on the order of availiblity*/
    background-color: #2a607c;
    color: #ffffff;
}

/*applies to the h1: title element*/
.header h1 {
    display: inline-block; /*it will try to display the h1 elements in a row */
    font-size: 48px;
}
/*applies to the class called "seo" in the header h1 element*/
.header h1 .seo {
    color: #d9dcd6;
}

/*applies to all the navigation elements */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right; /* it will let the elements float to the right side */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


.header nav ul {
    list-style-type: none; /* this means no shapes will be represeted for the "bullets" */
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*anchored elements*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*all the paragraph elements*/
p {
    font-size: 16px;
}

/*the whole hero section: the big picture attached on the top*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* these made sure the styles of the content section is formatted to be "left right left" */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    margin-bottom: 32px; /* the space between benefit lead and next element's margin */
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center; /* centered the text */
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto; /* This means up and bottom has 10px of space, left and right will be automatically fitted */
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px; /* defines the maximum height of the img element */
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
